@import "./PageLayout.css";

.custom-select .ant-select-selector {
  font-size: 12px;
  height: 25px;
  /* el height que quieras */
  line-height: 25px;
  /* mismo valor para centrar */
}

.custom-select .ant-select-arrow {
  right: 8px;
  /* reajusta posición si es necesario */
}

.ant-form-item-explain.ant-form-item-explain-connected {
  font-size: 10px;
}

.ant-form-item {
  margin-bottom: 18px;
}

.ant-select-item.ant-select-item-option {
  font-size: 10px;
}

.ant-select.ant-select-outlined.ant-select-in-form-item {
  height: 30px;
}

.ant-select-selection-wrap {
  font-size: 10px;
}