.custom-filters-toolbar {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  align-items: center;
}

.custom-filters-toolbar__field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
}

.custom-filters-toolbar__field label {
  font-size: 0.75rem; /* Tamaño de fuente más pequeño */
  color: #333333;
  font-weight: 500;
}

.custom-filters-toolbar__field input,
.custom-filters-toolbar__field .p-dropdown {
  height: 32px; /* Altura más pequeña */
  font-size: 0.875rem; /* Tamaño de fuente más pequeño */
  padding: 0.25rem 0.5rem; /* Reducir el padding interno */
  border-radius: 4px; /* Bordes más redondeados */
}

.custom-filters-toolbar__field .p-dropdown {
  padding: 0; /* Ajustar padding interno del dropdown */
}